body{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url(./gif.gif);
    background-repeat: no-repeat;
}
.navbar {
    position:fixed;
    top:0;
    padding:10px 580px;
    transition: background-color 0.3s ease;
}
h1{
    margin-top: 50px;
    margin-bottom: 10px;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-width: 60px;
    text-align:left;
}

.navbar ul li {
    display:inline;
    margin: 0 15px;
    font-size: 19px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #474047;
    color: #b860a5;
}
.port
{
    color:whitesmoke;
    margin-top: 100px;
    padding: 30px 50px;
}
h1{
    color: lightcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    align-content: center;
    margin: 300px;
    padding:0px;
    font-size: 100px;
}
